<div class="container">
    <h1>Admin</h1>
    <h2>Partidos</h2>
    
    <h4>Cantidad de partidos:</h4> 
    <h5>{{matches.length}}</h5>
    
    <table ng-table="tableParams" class="table table-bordered table-striped table-condensed" show-filter="false">
    <thead>
        <th>ID</th>
        <th>Deporte</th>
        <th>Jugadores necesarios</th>
        <th>Fecha</th>
        <th>Titulares</th>
        <th>Suplentes</th>
        <th>Creado por</th>
    </thead>
    <tr ng-repeat="match in matches">
        <td>
            <a href="#/matches/{{match.id}}">{{match.id}}</a>
        </td>
        <td>{{match.sport.name}}</td>
        <td>{{match.playersNeeded}}</td>
        <td>{{match.date | date:'dd/MM/yyyy hh:mm'}}</td>
        <td>{{match.starters.length}}</td>
        <td>{{match.alternates.length}}</td>
        <td>{{match.createdBy}}</td>
    </tr>
</table>
</div>
