<div class="container">
    <h1>Crear partido</h1>
    <form role="form" name="sportForm">
        <div class="row-fluid">
            <div class="col-md-6">
                <p>Deporte:</p>
                <select name="sportSelect" id="sportSelect" ng-model="match.sportId">
                    <option ng-repeat="sport in sports" value="{{sport.id}}">
                        {{sport.name}}
                    </option>
                </select>
            </div>
            <div class="col-md-6">
                <p>Cantidad de Jugadores:</p>
                <input type="number" ng-model="match.playersNeeded" ng-required="true">
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-6">
                <p>Lugar:</p>
                <map center="{{initialCenter}}" zoom="11" on-click="placeMarker()">
                    <marker ng-repeat="pos in positions" position="{{pos.lat}}, {{pos.lng}}"></marker>
                </map>
            </div>
            <div class="col-md-6">
                <p>Fecha:</p>
                <div style="display:inline-block;">
                    <datepicker ng-model="date" ng-required="true" min-date="minDate" show-weeks="false" class="well well-sm"></datepicker>
                </div>
            </div>
        </div>

        <div class="toolbar">
            <div>
                <button class="btn btn-primary" ng-click="saveMatch()" ng-disabled="!sportForm.$valid || !validAddress">
                    <i class="fa fa-facebook"></i>
                    Guardar y postear en el muro
                </button>
                <!--<button class="btn btn-primary" ng-click="postToWall()">-->
                    <!--<i class="fa fa-facebook"></i>-->
                    <!--Postear en el muro-->
                <!--</button>-->
                <button class="btn btn-primary" ng-click="sendNotification()">
                    <i class="fa fa-facebook"></i>
                    Mandar notificación
                </button>
            </div>
        </div>
    </form>
</div>
